[Unit]
Description=Check the Venice balance twice a day

[Timer]
OnCalendar=*-*-* 09,21:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
